
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color: rgb(41, 5, 5);
}
p{
    color:white;
}
span{
  color:white;
}

.header{
  background-color: black;
  background-image:url("http://farm3.staticflickr.com/2447/4070581709_1204f25e3b_z.jpg");
  background-position:center;
background-repeat:no-repeat;
  height:200px;
  h1{
    margin: 20px auto;
    width:370px;
    height:150px;
    color:red;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
      text-shadow: 5px 5px #111111;
  }
}

.foodlist{
  margin-top:20px;
  h2{
    text-align: center;
  }
  p{
    font-size:20px;
  }
}

.container{
  p{
        color:white;
  }
  h1{
    text-align: center;
    font-size: 60px;
    color:white;
  }
  h2{
    font-size: 40px;
        color:white;
  }
  h3{
    font-weight: bolder;
        color:white;
  }
  .checkoutItem{
    border:black solid 1px;
    border-radius:5px;
    text-align: center;
    background-color: green;
    width:120px;
  }
}

.footer{
  background-color:black;
  height:auto;
  div{

    font-size: 15px;
  }
  p{
    color:white;
      text-align: center;
  }
  h1{
    text-align: right;
    margin-top: 0px;
      color:white;
  }
  .hours{
    p{
        text-align: left;
    }
  }
}
@media(max-width:1000px){
  .footer{
    h1{font-size: 20px;
    text-align: center;
  margin-top: 20px;}
  .hours p{
      text-align: center;
  }
  }

};

.Checkout{
  float:right;
  width:150px;
  height: 50px;
  margin-top: 15px;
}

.ItemList{
  font-size: 30px;
  .Empty{
text-align: center;
font-size: 40px;
  }

  .Pay{
    font-size: 30px;
        float:right;
  }
  .PayDiv{
    margin-top: 8px;
  }
  .Items{
text-align: center;
  }
}

.Total{
  margin-top: 20px;
  font-size: 40px;
      color:white;
}

.confirmForm{
  position:fixed;
  background-color:green;
  border:black solid 1px;
  height:70px;
  font-size: 20px;
  z-index: 3;
  float:right;
  margin-top: -200px;
  margin-left: 80%;
  padding:5px;
  box-shadow: 10px 10px 5px #111111;
}
.invisible{
  visibility: hidden;
}
